html {
	background-color:grey;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	/*
	min-height: 75rem;
	padding-top: 4.5rem;
	*/
}

h1,h2,h3,h4,h5,h6,span {
	font-family: 'Josefin Sans', sans-serif;
}

p {
    /*font-size: 18px;*/
    font-family: 'Josefin Sans', sans-serif;
}

.col-6 {
	background-color: #22223B;
}

.nav-color {
	background-color: #433648;
}

.nav-item {

}

.head-image {
	/*
	position: absolute;
	left: 2%;
	bottom: 2%;
	*/
	position: absolute;
	padding-top: 50%;
}

.col, .col-3 {
	background-color: #22223B;
}

.sticky-bottom {
	padding-bottom: 5%;
}

.socialpadding {
	padding-top: 25%;
}

.img {
	max-width: 100%;
	height: auto;
}