html {
	background-color: #22223B;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	/*
	min-height: 75rem;
	padding-top: 4.5rem;
	*/
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Josefin Sans', sans-serif;
	/*color: #D3F3EE;*/
	color: ghostwhite;
}

span {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 2em;
	/*color: #D3F3EE;*/
	color: ghostwhite;
}

p {
    /*font-size: 18px;*/
    font-family: 'Josefin Sans', sans-serif;
    /*color: #D3F3EE;*/
    color: ghostwhite;
}

hr {
	background-color: #22223B;
}

a:visited {
	/*
	fix meeee
	color: #D3F3EE;
	*/
	color: darkred;
	text-decoration: none;
}

.github-and-email {
	/*border-style: solid;*/
	padding-left: 10%;
	/*border-color: #D3F3EE;*/
}

.nav-color {
	background-color: #141424;
}

.nav-item {

}

.head-image {
	/*
	position: absolute;
	left: 2%;
	bottom: 2%;
	*/
	position: absolute;
	padding-top: 40%;
}

.col, .col-1, .col-2, .col-3, .col-6 {
	/*color: #D3F3EE;*/
	color: ghostwhite;
	background-color: #22223B;
}

.sticky-bottom {
	padding-bottom: 5%;
}

.socialpadding {
	padding-top: 25%;
}

.img {
	max-width: 100%;
	height: auto;
}